extends ./layout/index

block slider
    .slider 
        h1 Rio de Janeiro 
        em aventura

block contenido
    main.container.mt-5 
        h2.text-center.mb-5 Sobre Nosotros 
        .row.mb-5 
            .col-md-6 
                p Aliquam blandit feugiat aliquet. Vestibulum posuere lorem eget scelerisque laoreet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus vel ligula consectetur, iaculis leo vel.
                p Fusce gravida, nisi quis eleifend euismod, lorem purus ultricies sapien, sit amet ultrices dui urna id massa. Vivamus ultricies quam sed sapien egestas porttitor. Mauris sem dolor, placerat sed augue in, mattis euismod mauris. Maecenas tincidunt nisl posuere arcu ornare sodales. 
            .col-md-6 
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")

        include ./layout/bloque_viajes

    .descuento 
        .container 
            .row 
                .col-md-6 
                    .contenido 
                        h3 5% de Descuento 
                        p.titulo Viaje a Canada 
                        p.fecha 20 de Marzo de 2023 - 28 de Marzo de 2023
                        p.precio $ 2,500 USD

    .container
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales