extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Praesent eget lectus nec tellus finibus placerat. Aliquam mollis faucibus imperdiet. Donec egestas efficitur ex, ac dignissim dolor imperdiet non. Vivamus turpis justo, tempus ac placerat elementum, consequat vitae justo. Fusce nec imperdiet dolor. In purus odio, condimentum vel nunc ut, sollicitudin luctus eros. Duis consectetur nibh nec rhoncus suscipit. Praesent cursus hendrerit quam et gravida. Vivamus a tempus enim.

                p Sed ex risus, condimentum at elit ut, pretium ultrices neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin non massa auctor, ultricies ante at, convallis sapien. Proin molestie blandit dignissim. Donec eu aliquet turpis. Pellentesque eu lectus orci. Vestibulum blandit diam vel tortor rutrum, sed commodo dui dapibus.

                p Donec tempor nisl at bibendum elementum. Pellentesque sit amet risus et tortor tincidunt volutpat vel vitae dolor. Aenean viverra ornare bibendum. Suspendisse at nisl mi. In eget sodales est. In non odio elementum, posuere velit et, pulvinar ante. Aenean placerat eget nisl ac laoreet. Phasellus enim eros, feugiat vitae viverra nec, bibendum vitae diam. Morbi rhoncus augue sed orci sagittis lacinia.

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Donec tempor nisl at bibendum elementum. Pellentesque sit amet risus et tortor tincidunt volutpat vel vitae dolor.
                    
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Donec tempor nisl at bibendum elementum. Pellentesque sit amet risus et tortor tincidunt volutpat vel vitae dolor.
                
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios" class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Donec tempor nisl at bibendum elementum. Pellentesque sit amet risus et tortor tincidunt volutpat vel vitae dolor.
